<section class="hero">
  <div class="container">
    <h1>About Us</h1>
    <p>
      At CodeQuad, we are a dynamic team of passionate tech professionals dedicated to delivering cutting-edge Web and
      Infrastructure services. With expertise spanning across web app design, frontend frameworks, CSS styling,
      cybersecurity penetration testing, domain management, and cloud infrastructure, we pride ourselves on providing
      tailored solutions that drive business success.
    </p>
  </div>
</section>
<div class="container">
  <div class="about-us">
    <div class="team-section">
      <!-- team member #1 -->
      <div class="team-member">
        <div class="profile-pic"></div>
        <p class="name">John Tsiglieris</p>
        <p class="description">CEO & Co-Founder</p>
      </div>
      <!-- team member #2 -->
      <div class="team-member">
        <div class="profile-pic"></div>
        <p class="name">Subreet Singh</p>
        <p class="description">CTO & Co-Founder</p>
      </div>
      <!-- team member #3 -->
      <div class="team-member">
        <div class="profile-pic"></div>
        <p class="name">Bilal Kohgadai</p>
        <p class="description">Cybersecurity Lead & Co-Founder</p>
      </div>
      <!-- team member #4 -->
      <div class="team-member">
        <div class="profile-pic"></div>
        <p class="name">Eric AhSue</p>
        <p class="description">Web Development Lead & Co-Founder</p>
      </div>
    </div>
  </div>
</div>