<section class="hero">
  <div class="container">
    <h1>About Us</h1>
    <p>
      Here is a light description about us!!!
    </p>
  </div>
</section>
<div class="container">
  <div class="about-us">
    <div class="team-section">
      <!-- team member #1 -->
      <div class="team-member">
        <div class="profile-pic"></div>
        <p class="name">Bilal Kohgadai</p>
        <p class="description">Description</p>
      </div>
      <!-- team member #2 -->
      <div class="team-member">
        <div class="profile-pic"></div>
        <p class="name">Eric Ahsue</p>
        <p class="description">Description</p>
      </div>
      <!-- team member #3 -->
      <div class="team-member">
        <div class="profile-pic"></div>
        <p class="name">John Tsiglieris </p>
        <p class="description">Description</p>
      </div>
      <!-- team member #4 -->
      <div class="team-member">
        <div class="profile-pic"></div>
        <p class="name">Subreet Singh </p>
        <p class="description">Description</p>
      </div>
    </div>
    <div class="mission-section">
      <h2>Our Mission</h2>
      <p>Some random stuff about us, why we made this company, our backstory, our origins, the purpose for our
        stuff
      </p>
    </div>
  </div>
</div>