<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CodeQuad</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  </head>

<body>
  <!-- Navigation -->
  <header>
    <div class="container">
      <div class="brand">
        <a href="/">CodeQuad</a>
      </div>
      <nav>
        <ul class="nav-links">
          <li><a href="/services/web">Web Services</a></li>
          <li>
            <a href="/services/infra">Infrastructure Services</a>
          </li>
        </ul>
      </nav>
      <div class="search-bar">
        <form action="#" method="get">
          <input type="search" placeholder="Search services" aria-label="Search"/> 
          <a href="#" class="btn">Search</a>
        </form>
      </div>
      <div class="">
      <% if (user?.id) { %>
      <div class="horizontal-menu">
        <ul>
          <li><a href="/orders"><i class="fas fa-shopping-bag"></i> Orders</a></li>
          <li><a href="/cart"><i class="fas fa-shopping-cart"></i> Cart</a></li>
          <li><a href="/profile"><i class="fas fa-user-circle"></i> Profile</a></li>
          <li><a href="/logout"><i class="fas fa-power-off"></i> Logout</a></li>
        </ul>
      </div>
      <% } else { %>
      <div class="horizontal-menu">
        <ul>
          <li><a href="/login"><i class="fas fa-sign-in-alt"></i> Login</a></li>
          <li><a href="/registration"><i class="fas fa-user-plus"></i> Register</a></li>
        </ul>
      </div>
      <% } %>

      </div>
      <!-- Mobile Menu Toggle -->
      <div class="mobile-menu-toggle">
        <span>&#9776;</span>
      </div>
    </div>
    </header>
    <main>
