<%- include('header') %>
  <main>
    <div class="container">
      <!-- Page Content Starts Here -->
      <%- body %>
        <!-- Page Content Ends Here -->
    </div>
  </main>
<%- include('footer') %>